Backend
=======

Create REST API to manage blogs and comments

Functional requirements:

1. REST API with CRUD methods for blog posts and comments [x]
2. Validation for models [-] (is done automatically because of [ApiController])
3. Authorization via ApiKey (random generated key) [x] (JWT)
4. 1 Unit test [x]
5. 1 Integration test [x]
6. Http caching for 1 method [x]

Technical requirements:

1. ASP.NET Core. [x]
2. Entity Framework. [x] (Core)
3. Automapper. [x]
4. Swagger [x]
5. Please add comments to your code in English.
6. Feel free to show your skills - IoC, stylecop, and other best practices of coding.

Main goal is to show skills (but not deliver 100% finished working project).
